.resimSlider{
    height: 600px;
}

body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.hakkimizda{
    background-color: #f2f2f2;
}

.ayraç{
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin:25px auto ;
   
}

.igri{
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}

.ibeyaz{
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid #ffff;
    background-color: #ffff;
}

.ekipCard>img:hover{
    opacity: 0.8;
}

.ekipCard{
    margin: 20px;
    width: 400px;

}



.galeri{
    background-color: #f2f2f2;
}

.figure:hover{
    opacity: 0.8;
}